{% extends 'store/layout.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block body %}

    <div style="margin: auto" class="card w-50">
        <div class="card card-body">
            <div class="form-group">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <a class="btn btn-warning" href="{% url 'store:settings' request.user.id %}">Cancel</a>
                    <input class="btn btn-dark" type="submit" value="Save Changes">
                </form>
            </div>
        </div>
    </div>   

{% endblock %}

